
.body {
    font-size: 20px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color: #2a2a2a;
}
.title {
    font-size: 35px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #2a2a2a
}
.head {
    background-color: rgb(204, 189, 170);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 150px;
    height: 90px;
    border-bottom: solid 5px #555555;
}
.rightmenu {
    background-color: rgb(204, 189, 170);
    position: absolute;
    top: 0px;
    width: 150px;
    right: 0px;
    height: 90px;
    border-bottom: solid 5px #555555;
    border-left: solid 5px #555555;
}
.leftbody {
    top: 95px;
    left: 0px;
    right: 650px;
    bottom: 50px;
    background-color: antiquewhite;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border-right: solid 5px #555555;
}
.rightbody {
    top: 95px;
    bottom: 50px;
    right: 0px;
    left: 855px;
    background-color: antiquewhite;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
.footer {
    background-color: rgb(230, 212, 189);
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 820px;
    border-top: solid 5px #555555;
}